.header {
    background-image: url(/image-lac.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;

    &__title {
        margin: 0;
        padding: 130px 83px 13px 89px;        
        font-size: 1.063em;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.header__div {
    display: flex;
    justify-content: center;

    &__input {
        width: 156px;
        height: 25px;
        margin-right: 13px;
    }

    &__button {
        height: 30px;
        width: 61px;
        font-size: 0.938em;
        color: white;
        background-color: #0D6EFD;
        border: 0;
    }
}

@media screen and (min-width:768px) {
    .header {
        background-image: url(/image-lac.jpg);
        height: 30vh;

        &__title {
            font-size: 2em;
            display: flex;
            padding-left: 40px;
            padding-right: 0px;
            height: 80px;
            width: 50%;
            padding-top: 70px;
          
        }
    }

    .header__div {
        display: flex;
        justify-content: right;
        flex-direction: column;

        &__input {
            position: absolute;
            right: 100px;
            top: 140px;
            width: 170px;
            height: 30px;
            border-radius: 10px;
            border: none;
        }

        &__button {
            position: absolute;
            right: 170px;
            top: 180px;
            border-radius: 10px;
            border: none;
        }
    }
}

@media screen and (min-width:1279px) {
    .header {
        height: 35vh;

        &__title {
            position: absolute;
            top: 120px;
            left: 25%;
            padding: 0;
        }
        &__div {
            position: absolute;
            right: 40%;
            top: 70px;

            &__button {
                width: 100px;
                padding: 5px 15px 5px 15px;
                right: 0px;
                top: 141px;
            }
        }
    }
}