$couleur-background: #F8F9FA;


.nav__log-sign {
    background-color:white;
    height: 44px;

    &__logo {
        color: black;
        margin: 24px;
        position: absolute;
        top: -11px;
        font-size: 0.938em;
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
    }
    &__sign {
        position: absolute;
        color: white;
        border: solid #0D6EFD;
        right: 10px;
        margin: 5px;
        background-color: #0D6EFD;
        border-radius: 10px;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        width: 76px;
        height: 27px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}